.App {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  position: fixed;
  height: 100px;
  background-color: antiquewhite;
  width: 100%;
}

.imgGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding-top: 120px;
}

.imgGrid img {
  width: 320px;
  height: 206px;
  border: 1px black solid;
  box-sizing: border-box;
}

.imgGrid a {
  height: 100%;
  width: 100%;
}

.article {
  margin-top: 5px;
  width: 320px;
}

.article-img-container {
  height: 200px;
}

.article-caption, .article-category {
  position: relative;
  bottom: 30px;
  margin-bottom: -30px;
}

.article-category {
  text-align: left;
  font-variant: small-caps;
  background: whitesmoke;
  opacity: 0.6;
  font-size: 30px;
  display: inline;
}

.article-caption {
  color: whitesmoke;
  background: black;
  height: 60px;
  vertical-align: middle;
  font-size: 25px;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: hidden;
}
